<div class="article-page-container">
  <a
    class="navigation-button mat-elevation-z1"
    routerLink=""
    mat-icon-button
    color="primary"
    disableRipple>
    <mat-icon>expand_less</mat-icon>
  </a>

  <mat-card class="mat-mdc-card-outlined hero-card items-center">
    <mat-card-header class="flex-col items-center">
      <h1 class="mat-headline-1">
        cleo.|
      </h1>
    </mat-card-header>

    <mat-card-content>
      <h2 class="mat-headline-6">
        A journal text editor.
      </h2>
    </mat-card-content>

    <mat-card-content>
      <br>
      <br>
      <br>
      <br>
      <p class="mat-body-1 text-left">
        A responsive writing tool, designed for the modern writer.
      </p>
      <p class="mat-body-1 text-left">
        Introducing our newest writing tool, crafted for clarity and precision, designed to elevate your writing experience.
      </p>
      <p class="mat-body-1 text-left">
        Whether you're a student, professional, or creative, our software is engineered for what matters.
      </p>
      <br>
    </mat-card-content>
  </mat-card>

  <p class="mat-subtitle-2 signature">
    DUNN ATELIER. Copyright © 2023 Cleo App. All rights reserved.
  </p>
</div>
