<div *ngIf="(journal$.value)">
  <mat-toolbar
    color="primary"
  >
    <mat-toolbar-row>
      <button
        mat-icon-button
        disableRipple
        (click)="navigateBack()"
      >
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>

      <button
        *ngIf="(journal$.value)"
        mat-icon-button
        disableRipple
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          disableRipple
          (click)="handleRenameJournal()"
        >
          Rename...
        </button>
        <button
          mat-menu-item
          disableRipple
          (click)="handleDeleteJournal()"
        >
          Delete...
        </button>
      </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h2>
        {{journal$.value.name}}
      </h2>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button
        mat-flat-button
        disableRipple
        (click)="handleCreateEntry()"
        color="primary"
      >
        <mat-icon>add</mat-icon>
        New Entry
      </button>

      <button
        mat-flat-button
        disableRipple
        color="primary"
        (click)="handleFilterEntriesByDate()"
      >
        <!--  todo: Add menu options to choose by date created or last modified -->
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <form [formGroup]="searchForm" (ngSubmit)="handleOnSearchSubmit()">
        <mat-form-field>
          <button
            matIconPrefix
            mat-icon-button
            aria-label="Search"
            (click)="handleOnSearchSubmit()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <input
            matInput
            type="text"
            placeholder="Search..."
            formControlName="searchValue"
          >
          <button
            *ngIf="searchForm.value.searchValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchForm.patchValue({searchValue: ''}); handleOnSearchSubmit();"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="!(journal$.value)"
    mode="indeterminate"
  ></mat-progress-bar>
  <table mat-table matSort matSortActive="lastUpdated" matSortDirection="desc"
         (matSortChange)="handleSortEntries($event)"
         matSortDisableClear
         [dataSource]="entries$">
    <ng-container matColumnDef="body">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Body</th>
      <td mat-cell
          *matCellDef="let element">{{convertToPlainText(element.body) | slice:0:64}}...</td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Updated</th>
      <td mat-cell *matCellDef="let element">{{element.lastUpdated | date}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          disableRipple
          [matMenuTriggerFor]="entriesMenu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #entriesMenu="matMenu">
          <button
            disableRipple
            mat-menu-item
            (click)="navigateToEntry(element)"
          >
            Open
          </button>
          <button
            disableRipple
            mat-menu-item
            (click)="handleDeleteEntry(element)"
          >
            Delete...
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="clickable"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToEntry(row)">
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="10"
    [length]="(count | async)"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
