<div *ngIf="(journal$.value)">
  <mat-toolbar
    color="primary"
  >
    <mat-toolbar-row>
      <button
        mat-icon-button
        disableRipple
        (click)="navigateBack()"
      >
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>

      <button
        *ngIf="(journal$.value)"
        mat-icon-button
        disableRipple
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          disableRipple
          (click)="renameJournal()"
        >
          Rename...
        </button>
        <button
          mat-menu-item
          disableRipple
          (click)="deleteJournal()"
        >
          Delete...
        </button>
      </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h2>
        {{journal$.value.name}}
      </h2>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <p class="mat-subtitle-2">{{journal$.value.dateCreated | date}} -
        {{journal$.value.lastUpdated | date}}</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button
        mat-flat-button
        disableRipple
        (click)="newEntry()"
        color="primary"
      >
        New Entry
      </button>

      <button
        mat-flat-button
        disableRipple
        [matMenuTriggerFor]="sortMenu"
        color="primary"
      >
        <mat-icon>sort</mat-icon>
        Sort By
      </button>
      <mat-menu #sortMenu="matMenu">
        <button
          mat-menu-item
          disableRipple
        >Last Updated</button>
        <button
          mat-menu-item
          disableRipple
        >Created</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="!(journal$.value)"
    mode="indeterminate"
  ></mat-progress-bar>

  <div
    *ngFor="let entry of journalEntries$ | async"
  >
    <app-journal-entry-card
      (onDeleteJournalEntry)="deleteJournalEntry($event)"
      [journalId]="journal$.value._id"
      [journalEntry]="entry"
    ></app-journal-entry-card>
  </div>
</div>
