<mat-toolbar>
  <mat-toolbar-row>
    <button
      (click)="navigateHome()"
      mat-flat-button
      disableRipple
    >
      <h2>
        cleo.|
      </h2>
    </button>
    <button
      mat-icon-button
      disableRipple
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        disableRipple
        mat-menu-item
      >
        Journals
      </button>
      <button
        disableRipple
        mat-menu-item
      >
        Help
      </button>
      <button
        (click)="logout()"
        mat-menu-item
        disableRipple
      >
        Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h2>Journals</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-raised-button
      disableRipple
      color="primary"
      (click)="newJournal()"
    >
      <mat-icon>create_new_folder</mat-icon>
      New Journal
    </button>
    <button
      mat-raised-button
      disableRipple
      color="primary"
      (click)="filterJournalsByDate()"
    >
      <mat-icon>date_range</mat-icon>
      Filter
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <mat-form-field>
        <input matInput type="text" placeholder="search" formControlName="searchValue">
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<!-- todo: add loading indicator-->

<table mat-table matSort matSortActive="lastUpdated" matSortDirection="desc"
       (matSortChange)="sortJournals($event)"
       matSortDisableClear
       [dataSource]="journals">
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Created</th>
    <td mat-cell *matCellDef="let element">{{element.dateCreated | date}}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Updated</th>
    <td mat-cell *matCellDef="let element">{{element.lastUpdated | date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
