<mat-card class="hero-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Delete Journal</h1>
      <h1>'{{data.journal.name}}'</h1>
    </mat-card-title>
  </mat-card-header>
  <p>Are you sure you want delete this journal and its entries?</p>
  <mat-card-actions>
    <button
      (click)="back()"
      mat-dialog-close="true"
      mat-button
      disableRipple
    >
      Back
    </button>
    <button
      (click)="delete()"
      mat-dialog-close="true"
      disableRipple
      mat-button
      type="submit"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
