<mat-card class="hero-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Delete Journal</h1>
      <h1>'{{data.journal.name}}'</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button
      (click)="back()"
      mat-dialog-close
      mat-button
      disableRipple
    >
      Back
    </button>
    <button
      (click)="delete()"
      mat-dialog-close
      disableRipple
      mat-button
      type="submit"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
