<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-flat-button
      disableRipple
      (click)="navigateHome()">
      <h2>
        cleo.|
      </h2>
    </button>

    <button
      mat-icon-button
      disableRipple
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        disableRipple
        mat-menu-item>
        Journals
      </button>

      <button
        disableRipple
        mat-menu-item>
        Help
      </button>

      <button
        (click)="logout()"
        mat-menu-item
        disableRipple>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <h2>Journals</h2>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button
      mat-flat-button
      disableRipple
      (click)="newJournal()">
      <mat-icon>add</mat-icon>
      New Journal
    </button>

    <button
      mat-flat-button
      disableRipple
      (click)="filterJournalsByDate()">
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <mat-form-field>
        <button
          matIconPrefix
          mat-icon-button
          aria-label="Search"
          (click)="onSearchSubmit()">
          <mat-icon>search</mat-icon>
        </button>

        <input
          matInput
          type="text"
          placeholder="Search..."
          formControlName="searchValue">

        <button
          *ngIf="searchForm.value.searchValue"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchForm.patchValue({searchValue: ''}); onSearchSubmit();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table matSort
   (matSortChange)="sortJournals($event)"
   matSortDisableClear
   [dataSource]="journals">
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Created</th>
    <td mat-cell *matCellDef="let element">{{element.dateCreated | date}}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Updated</th>
    <td mat-cell *matCellDef="let element">{{element.lastUpdated | date}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        disableRipple
        [matMenuTriggerFor]="journalsMenu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #journalsMenu="matMenu">
        <button
          disableRipple
          mat-menu-item
          (click)="navigateToJournal(element)">
          Open
        </button>

        <button
          disableRipple
          mat-menu-item
          (click)="editJournal(element)">
          Rename...
        </button>

        <button
          disableRipple
          mat-menu-item
          (click)="deleteJournal(element)">
          Delete...
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns">
  </tr>

  <tr
    class="clickable"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="navigateToJournal(row)">
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 25, 50]"
  [pageSize]="(limit | async)"
  [pageIndex]="(page | async)"
  [length]="(count | async)"
  (page)="handlePageEvent($event)">
</mat-paginator>
