<mat-toolbar>
  <mat-toolbar-row>
    <button
      (click)="navigateHome()"
      mat-flat-button
      disableRipple
    >
      <h2>
        cleo.|
      </h2>
    </button>
    <button
      mat-icon-button
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Help</button>
      <button
        (click)="logout()"
        mat-menu-item
      >
        Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h2>My Journals</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-flat-button
      (click)="newJournal()"
    >
      New Journal
    </button>
    <button
      mat-flat-button
      [matMenuTriggerFor]="sortMenu"
    >
      <mat-icon>sort</mat-icon>
      Sort By
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item>Name</button>
      <button mat-menu-item>Last Updated</button>
      <button mat-menu-item>Created</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-progress-bar
    *ngIf="!(journals$ | async)"
    mode="indeterminate"
  ></mat-progress-bar>

  <mat-grid-list
    cols="4"
    rowHeight="300px"
  >
    <mat-grid-tile
      *ngFor="let journal of journals$ | async"
      colspan="1"
      rowspan="1"
    >
      <app-journal-card [journal]="journal"></app-journal-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-list>
