<mat-progress-bar
  *ngIf="!(journals$ | async)"
  mode="indeterminate"
></mat-progress-bar>

<mat-toolbar>
  <h1>cleo.|</h1>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a
      mat-menu-item
      routerLink="/about"
    >
      About
    </a>
    <button mat-menu-item>Help</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>


</mat-toolbar>


<mat-list>
  <mat-toolbar>
    <div mat-subheader>My Journals</div>
    <button
      mat-button
      [matMenuTriggerFor]="sortMenu"
    >
      <mat-icon>sort</mat-icon>
      Sort By
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item>Name</button>
      <button mat-menu-item>Last Updated</button>
      <button mat-menu-item>Created</button>
    </mat-menu>
  </mat-toolbar>

  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile>
      <button
        mat-button
        (click)="newJournal()"
      >
        Create Journal
      </button>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let journal of journals$ | async"
      colspan="1"
      rowspan="1"
    >
      <app-journal-card [journal]="journal"></app-journal-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-list>
