<mat-toolbar>
  <mat-toolbar-row>
    <button
      *ngIf="(mode$.value === 'normal')"
      mat-icon-button
      (click)="navigateBack()">
      <mat-icon>
        keyboard_arrow_left
      </mat-icon>
    </button>

    <button
      *ngIf="(mode$.value === 'edit')"
      mat-icon-button
      (click)="cancelEditing()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-flat-button
      disableRipple
      (click)="enterEditMode()"
      *ngIf="(mode$.value === 'normal')">
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <button
      *ngIf="(mode$.value === 'edit')"
      mat-flat-button
      disableRipple
      (click)="doneEditing()">
      <mat-icon>done</mat-icon>
      Save
    </button>

    <button
      mat-flat-button
      disableRipple
      (click)="deleteEntry()"
      [disabled]="(mode$.value === 'edit')">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card
  class="mat-mdc-card-outlined"
  *ngIf="(journalEntry$.value)">
    <quill-editor
      [modules]="{toolbar: false}"
      [required]="true"
      [(ngModel)]="journalEntry$.value.body"
      [readOnly]="(mode$.value === 'normal')"
      (onEditorCreated)="$event.focus()"
    ></quill-editor>
</mat-card>
