<mat-card>
  <a
    routerLink="/journal/{{journal._id}}"
  >
    <mat-card-header>
      <h2
        matCardTitle
        class="mat-subtitle-1"
      >
        {{journal.name}}
      </h2>
    </mat-card-header>
  <mat-card-content>
    <p
      class="mat-caption"
    >
      x entries
    </p>
    <p
      class="mat-caption"
    >
      {{journal.dateOfCreation | date}} - {{journal.lastUpdated | date}}
    </p>
  </mat-card-content>
  </a>
  <button
    mat-icon-button
    disableRipple
    [matMenuTriggerFor]="menu"
  >
    <mat-icon color="primary">more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a
      routerLink="/journal/{{journal._id}}"
      mat-menu-item
      disableRipple
    >
      Open
    </a>
    <button
      mat-menu-item
      (click)="openEditJournalDialog()"
      disableRipple
    >
      Edit
    </button>
    <button
      mat-menu-item
      (click)="openDeleteJournalDialog()"
      disableRipple
    >
      Delete
    </button>
  </mat-menu>
</mat-card>
