.action-button {
  scale: 120%;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.navigation-button {
  margin: 20px;
  scale: 85%;
}

.help-button {
  scale: 85%;
  position: absolute !important;
  left: 0;
  bottom: 0;
}
