<mat-card class="hero-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Rename Journal</h1>
    </mat-card-title>
  </mat-card-header>

  <form
    [formGroup]="nameForm"
    (ngSubmit)="editJournal()"
  >
    <mat-card-content>
      <div class="form-container">
        <mat-form-field appearance="fill">
          <input
            matInput
            formControlName="name"
            id="name"
            type="text"
            [(ngModel)]="data.journal.name"
            required
          >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        (click)="back()"
        mat-dialog-close
        mat-button
        disableRipple
      >
        Back
      </button>
      <button
        [disabled]="(nameForm.invalid)"
        mat-dialog-close
        disableRipple
        mat-button
        type="submit"
      >
        Save
      </button>
    </mat-card-actions>
  </form>
</mat-card>
