<mat-toolbar>
  <button
    *ngIf="(mode$.value === 'normal')"
    mat-icon-button
    (click)="navigateBack()"
  >
    <mat-icon>
      keyboard_arrow_left
    </mat-icon>
  </button>

  <button
    *ngIf="(journalEntry$.value) && (mode$.value === 'normal')"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="enterEditMode()"
    >
      Edit
    </button>
    <button
      mat-menu-item
      (click)="deleteJournalEntry()"
    >
      Delete
    </button>
  </mat-menu>

  <button
    *ngIf="(mode$.value === 'edit')"
    mat-icon-button
    (click)="cancelEditing()"
    [disabled]="entryForm.invalid"
  >
    <mat-icon>close</mat-icon>
  </button>

  <button
    *ngIf="(mode$.value === 'edit')"
    mat-icon-button
    (click)="doneEditing()"
    [disabled]="entryForm.invalid"
  >
    <mat-icon>done</mat-icon>
  </button>
</mat-toolbar>


<div
  *ngIf="(journalEntry$.value)"
>
  <p *ngIf="(mode$.value === 'normal')">{{journalEntry$.value.body}}</p>

  <form
    *ngIf="(mode$.value === 'edit')"
    [formGroup]="entryForm"
  >
    <mat-form-field>
    <textarea
      matInput
      [ngModel]="journalEntry$.value.body"
      name="body"
      formControlName="body"
      type="text"
      required
    ></textarea>
    </mat-form-field>
  </form>
</div>

